body
{
	margin-left: 10%;
	margin-right: 10%;
	background: url(arriere-plan.jpg);
	color: white;
	font-family: Comic Sans MS;
	font-size:1.5em;
}
header
{
	text-align: center;
	font-size: 100%;
	margin-bottom: 2.5%;
}
.Menu_Page
{
	color: green;
	text-decoration: none;
	font-size: 5.0em;
	font-style: bold;
	text-align: center;
}
nav
{
	text-align: center;
	font-size: 1.5em;
}
.Menu
{
	text-decoration: underline;
	color: white;
}
section
{
	width:100%;
}
#conteneur_section
{
	display: flex;
	justify-content: space_around;
}
.element0
{
	width: 20000px;
	height: 550px;
	overflow: auto;
}
.Corps
{
	text-align: left;
}
.espace
{
	width: 200%;
}
.version
{
	text-align: left;
}
#conteneur_footer
{
	margin-top: 4%;
	display: flex;
	justify-content: center;
}
.element:nth-child(2)
{
	display: flex;
	font-size: 1.5em;
	text-align: center;
	flex:0.5;
}
.enfant
{
	margin: auto;
}
.center
{
	text-align: center;
}